<div class="fullpage grid">
  <%= render partial: 'shared/user', object: @user %>

  <div class="sketchy text_box">
    <h3><%= t('bio') %></h3>
    <%= bio %>
  </div>

  <%= link_to 'New Post', new_user_post_path(@user), class: 'btn sketchy', id: 'new_post' %>

  <div class="posts fullpage grid">
    <%= render partial: 'shared/post', collection: @posts %>
  </div>

  <%= see_all_btn %>
</div>