<div class="fullpage grid">
  <%= render partial: 'shared/user', object: @user %>

  <div class="sketchy text_box">
    <h3><%= t('.bio') %></h3>
    <%= bio %>
  </div>

  <div class="posts fullpage grid">
    <%= render partial: 'shared/post', collection: @posts %>
  </div>

  <%= see_all_btn %>
</div>