<h2>Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-div">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "sketchy" %>
  </div>

  <div class="form-div">
    <%= f.label :password %>
    <%= f.password_field :password, autocomplete: "current-password", :class => "sketchy" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "Log in", class: 'sketchy' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
