<div class="post">
  <h3><%= @post.title %> by <%= @post.user.name %> </h3>
  Comments: <%= @post.comments_counter || 0 %>
  Likes: <%= @post.likes_counter || 0 %>
  <%= @post.text %>
</div>

<div class="comments">
  <% @comments.each do |comment|  %>
    <li><%= comment.user.name %>: <%= comment.text %></li>
  <% end %>
</div>