<% flash.each do |type, msg| %>
  <div>
    <%= msg %>
  </div>
<% end %>

<div class="post fullpage text_box sketchy">
  <div class="headline">
    <h3><%= @post.title %> by <%= link_to @post.user.name, @post.user %> </h3>
    <%= render partial: 'shared/comments_likes', locals: { post: @post } %>
  </div>
  <%= @post.text %>
</div>
<%= list_comments(@comments) %>
