<%= render 'shared/flash' %>

<div class="post fullpage text_box sketchy">
  <div class="headline">
    <h3><%= @post.title %><br>
    by <%= link_to @post.user.name, @post.user %></h3>
    <%= render partial: 'shared/comments_likes', locals: { post: @post } %>
  </div>
  <%= @post.text %>
  <%= like_btn %>
</div>
<%= list_comments(@comments) %>
<%= render partial: 'comment_form' %>
