<!DOCTYPE html>
<html>
  <head>
    <title>Blogoverse</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  </head>

  <body>
    <%= link_to root_path, :action => 'go' do %>
      <header><%= t('welcome') %><h1>Blogoverse!</h1></header>
    <% end %>
    <%# link_to 'New Post', new_user_post_path(@current_user), class: 'btn sketchy', id: 'new_post' %>
    <main><%= yield %></main>
    <%= render 'shared/flash' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
